@import "resert.scss";

@mixin Display {
    display: flex;
    align-items: center;
}


@font-face {
    src: url(/assert/fonts/Poppins-Medium.ttf);
    font-family: Poppins;
}

.top_contact_us {
    background-color: #3f3f3f;
    padding: 12px 0;


    .top_contact_content_us {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-family: Poppins;

        .top_contact_left {
            ul {
                display: flex;

                li {
                    color: #d5d5d5;
                    padding-right: 36px;
                    @include Display;

                    p {
                        font-size: 12px;
                        padding-left: 12px;
                    }
                }
            }
        }

        .top_contact_social {
            ul {
                display: flex;

                a {
                    color: #d5d5d5;
                    font-size: 16px;
                    padding-left: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    .top_contact_content_us {
        flex-direction: column;
        @include Display;

        .top_contact_social {
            padding-top: 12px;
        }

    }
}

@media only screen and (max-width:760px) {
    .top_contact_us {
        display: none;
    }
}

.top_head_content {
    justify-content: space-between;
    @include Display;
    margin-top: 20px;
    font-family: Poppins;

    .logo {
        width: 150px;
    }

    .navigation {
        @include Display;

        .navigation_menyu {
            padding-right: 40px;

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    padding-left: 19px;
                    padding-right: 19px;
                    font-size: 18px;
                    font-weight: 500;
                }

                :hover {
                    color: rgba(0, 125, 242, 1);
                    transition: all 0.5s;
                }
            }
        }

        .search_basket {
            font-size: 14pt;

            #search_button {
                padding-right: 20px;
            }
        }

    }
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}